{% extends "base.html" %}

{% block content %}

<section class="courses">

<h2>Popular Courses</h2>

<div class="cards">

<div class="card">
<h3>Web Development</h3>
<p>HTML, CSS, JavaScript & React</p>
<button>View Course</button>
</div>

<div class="card">
<h3>Python Programming</h3>
<p>Become a Python Developer</p>
<button>View Course</button>
</div>

<div class="card">
<h3>UI/UX Design</h3>
<p>Create beautiful interfaces</p>
<button>View Course</button>
</div>

</div>

</section>
{% endblock %}

<script src="script.js"></script>

</body>
</html>